<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <Properties>
        <property name="APP_NAME">bigtree-invoice</property>
        <property name="LOGGER_LEVEL">INFO</property>
        <property name="LOGGER_PATH">/data/logs</property>

        <Property name="LOG_HOME">${LOGGER_PATH}/${APP_NAME}</Property>
        <Property name="FILE_SIZE">10M</Property>
        <Property name="log_pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{traceId}] %-5level %logger{36} - %msg%n
        </Property>
        <Property name="rolling_file_name">-%d{yyyy-MM-dd}.%i.zip</Property>
        <Property name="rollover_strategy_max">30</Property>

        <Property name="LOG_HOME_PROJECT">${LOG_HOME}/${APP_NAME}-project</Property>
        <Property name="LOG_HOME_PROJECT_ERROR">${LOG_HOME}/${APP_NAME}-project-error</Property>
        <Property name="LOG_HOME_MSDP">${LOG_HOME}/${APP_NAME}-msdp</Property>
        <Property name="LOG_HOME_SQL">${LOG_HOME}/${APP_NAME}-sql</Property>
        <Property name="LOG_HOME_ACCESS">${LOG_HOME}/${APP_NAME}-access</Property>
        <Property name="LOG_HOME_ACCESS_ERROR">${LOG_HOME}/${APP_NAME}-access-error</Property>
    </Properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${log_pattern}"/>
        </Console>
        <RollingRandomAccessFile name="projectRolling"
                                 fileName="${LOG_HOME_PROJECT}.log"
                                 filePattern="${LOG_HOME_PROJECT}${rolling_file_name}"
                                 immediateFlush="false" append="true">
            <PatternLayout>
                <Pattern>${log_pattern}</Pattern>
                <Charset>UTF-8</Charset>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover_strategy_max}"/>
        </RollingRandomAccessFile>


        <RollingRandomAccessFile name="projectErrorRolling"
                                 fileName="${LOG_HOME_PROJECT_ERROR}.log"
                                 filePattern="${LOG_HOME_PROJECT_ERROR}${rolling_file_name}"
                                 immediateFlush="false" append="true">
            <Filters>
                <ThresholdFilter level="${LOGGER_LEVEL}" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout>
                <Pattern>${log_pattern}</Pattern>
                <Charset>UTF-8</Charset>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover_strategy_max}"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="msdpRolling"
                                 fileName="${LOG_HOME_MSDP}.log"
                                 filePattern="${LOG_HOME_MSDP}${rolling_file_name}"
                                 immediateFlush="false" append="true">
            <PatternLayout>
                <Pattern>${log_pattern}</Pattern>
                <Charset>UTF-8</Charset>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover_strategy_max}"/>
        </RollingRandomAccessFile>


        <RollingRandomAccessFile name="sqlRolling"
                                 fileName="${LOG_HOME_SQL}.log"
                                 filePattern="${LOG_HOME_SQL}${rolling_file_name}"
                                 immediateFlush="false" append="true">
            <PatternLayout>
                <Pattern>${log_pattern}</Pattern>
                <Charset>UTF-8</Charset>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover_strategy_max}"/>
        </RollingRandomAccessFile>

        <!--        添加我们自己的apender-->
        <SkywalkingLog name="SkywalkingLog">
            <PatternLayout pattern="${log_pattern}"/>
        </SkywalkingLog>
    </appenders>

    <loggers>
        <AsyncLogger name="org.springframework" level="${LOGGER_LEVEL}" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="projectRolling"/>
            <appender-ref ref="projectErrorRolling"/>
        </AsyncLogger>
        <AsyncLogger name="com.alibaba.dubbo" level="${LOGGER_LEVEL}" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="projectRolling"/>
            <appender-ref ref="projectErrorRolling"/>
        </AsyncLogger>
        <AsyncLogger name="druid.sql" level="${LOGGER_LEVEL}" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="sqlRolling"/>
        </AsyncLogger>
        <AsyncLogger name="org.mybatis" level="${LOGGER_LEVEL}" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="sqlRolling"/>
        </AsyncLogger>
        <AsyncLogger name="com.jeedev.msdp" level="${LOGGER_LEVEL}" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="msdpRolling"/>
        </AsyncLogger>
        <AsyncLogger name="com.tansun" level="${LOGGER_LEVEL}" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="projectRolling"/>
            <appender-ref ref="projectErrorRolling"/>
        </AsyncLogger>
        <AsyncLogger name="com.bigtreefinance" level="${LOGGER_LEVEL}" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="projectRolling"/>
            <appender-ref ref="projectErrorRolling"/>
        </AsyncLogger>

        <!--        添加我们自己的apender到下面，注意这里不能使用异步，否则Skywalking控制台仍然无法看到日志信息-->
        <Logger name="com.bigtreefinance.invoice" level="${LOGGER_LEVEL}" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="projectRolling"/>
            <appender-ref ref="projectErrorRolling"/>
            <appender-ref ref="SkywalkingLog"/>
        </Logger>

        <AsyncRoot level="${LOGGER_LEVEL}">
            <appender-ref ref="Console"/>
            <appender-ref ref="projectRolling"/>
            <appender-ref ref="projectErrorRolling"/>
            <!--            这里也注意加一下-->
            <appender-ref ref="SkywalkingLog"/>
        </AsyncRoot>
    </loggers>
</configuration>